<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항 목록</title>
</head>
<body>
<table border="1">
	<thead>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
			<th>조회수</th>
		</tr>
	</thead>
	
	<tbody>
		<tr th:each="notice : ${list}">
			<td th:text="${notice.id}"></td>
			<td>
				<a th:href="@{/notice/detail(id=${notice.id})}" th:text="${notice.title}"></a>
			</td>
			<td th:text="${notice.writer}"></td>
			<td th:text="${notice.regDate}"></td>
			<td th:text="${notice.hit}"></td>
		</tr>
		<tr th:if="${#lists.isEmpty(list)}">
			<td colspan="5">공지 사항 없음</td>
		</tr>
	</tbody>
</table>
<br>
<a th:href="@{/notice/writeui}">공지사항 등록</a>
</body>
</html>