@charset "UTF-8";

body {
	background-color: #f4f7f6;
	font-family: 'Pretendard', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width:500px;
	margin: 80px auto;
	background-color: #fff;
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba(0,0,0,0.1);
	text-align: center; 
}

.form-group {
	text-align: left;
	margin-bottom: 20px;
}
.form-group label {
	display: block;
	font-weight: 600;
	margin-bottom: 8px;
	color: #34495e;
}
.form-group input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ddd;
	border-radius: 6px;
	box-sizing: border-box;
	translation: 0.3s;
}
.form-group input:focus {
	border-color: #3498db;
	outline: none;
	box-shadow: 0 0 5px rgba(52,152,219, 0.3);
}

.btn-primary {
	width: 100%;
	padding: 14px;
	background: #3498db;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	transition:0.3s;
	margin-top: 10px;
}
.btn-primary:hover {
	background: #2980b9;
}

.menu a{
	display: block;
	padding: 12px;
	margin: 10px 0;
	border: solid 1px #ddd;
	text-decoration: none;
	border-radius: 8px;
	trasition: 0.2s;
	font-size: 15px;
	font-weight: 500;
}

.menu p{
	color: #666;
	margin-bottom: 25px;
	font-size: 15px;
}









