<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지 사항 상세 내용</title>
</head>
<body>
<div>
	<div>
		<h2>공지 사항 제목</h2>
		<table border="1">
			<tr>
				<th>제목</th>
				<td th:text="${notice.title}"></td>
				<th>조회수</th>
				<td th:text="${notice.hit}"></td>
			</tr>
			<tr>
				<th>작성자</th>
				<td th:text="${notice.writer}"></td>
				<th>작성일</th>
				<td th:text="${notice.regDate}"></td>
			</tr>
			<tr>
				<td colspan="4" th:text="${notice.content}" style="height: 150px;"></td>
			</tr>
		</table>
		<br>
		<a th:href="@{/notice/updateui(id=${notice.id})}">수정</a>
		<form th:action="@{/notice/delete}" method="post">
			<input type="hidden" name="id" th:value="${notice.id}">
			<button type="submit">삭제</button>
		</form>
		<a th:href="@{/notice/list}">목록으로</a>
	</div>
</div>
</body>
</html>